@import '../../../styles/colors.scss', '../../../styles/fonts.scss';

.Button {
  @include medium;
  padding: 1rem;
  border-radius: 16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 1px solid $primary-base;
  width: 100%;

  &--primary {
    background-color: $primary-light;
    color: $primary-black;
    border: none;
  }

  &--secondary {
    color: $primary-gray-base;
    background-color: transparent;
    border: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: unset;
    border: none;
    color: $primary-gray-base;
  }
}

.Button__Label {
  margin: 0;
  padding: 0;
}
